.App {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 85vh;
  padding-left: 1em;
  padding-right: 1em;
}

section {
  flex: 1;
  display: flex;
}
.section-scoreboard {
  justify-content: flex-start;
}
.section-game {
  flex: 2;
}
.section-settings {
  justify-content: end;
}

.game {
  max-height: 100%;
  width: 100%;
  padding: 1em;
  font-size: 0.8em;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: white;
  color: black;
  border-radius: 10px;
}
.Score {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100%;

  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
  font-weight: 800;
  color: #4a4e74;
}
.time {
  display: flex;
}
.timer,
.score {
  font-weight: 500;
}

h1 {
  font-size: 3em;
}
.description > p {
  color: #4a4e74;
  font-size: 1.5em;
}

.die-grid {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 3em;
}
.die {
  justify-self: center;
  width: 6em;
  height: 6em;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
}
.die.dot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.die.number{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 700;
}

.btns {
  display: flex;
  flex-direction: column;
  width: 20em;
}
.btn {
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  width: 100%;
}
.reRoll.btn {
  background-color: blueviolet;
  font-size: 2em;
  z-index: 2;
  padding: 0.5em;
}

.reRoll.btn:focus {
  outline: none;
}

.reRoll.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.05s;
}
.reset.btn {
  opacity: 0.6;
  font-size: 1.5em;
  margin-top: 0.2em;
  display: flex;
  justify-content: center;
}
.reset.btn:hover {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.Scoreboard {
  color: white;
  font-size: 1.3em;
}

table {
  height: 100%;
  width: 150%;
}

tr {
  text-align: center;
}

td:first-child,
tr:first-child {
  text-align: left;
  border-right: 1px dashed rgba(255, 255, 255, 0.25);
}

td {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

.settings {
  font-size: 1.5em;
  color: white;
}
.countSetting,
.useNumberSetting {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.countSetting > .die,
.useNumberSetting > .die {
  font-size: 0.8em;
  background-color: transparent;
  border: 2px solid;
}

.countSetting > .die > span,
.useNumberSetting > .die > span {
  color: white;
  text-align: center;
}
.link-span{
  position: fixed;
  bottom: 0;
  opacity: 0.5;
}